html {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-window {
  height: 50%;
  width: 20%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blueviolet;
}

.operations-container {
  height: 20%;
  width: 90%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons-container {
  height: 12%;
  width: 90%;
  gap: 10px;
  display: flex;
}

.buttons-container > div {
  background-color: coral;
  flex: 1;
  text-align: center;
  line-height: 50px;
}

.clear,
.backspace,
.percent {
  font-size: 0.8rem;
}

.division {
  font-size: 1.1rem;
}

main * {
  transition: all 0.09s ease;
}

.trs {
  transform: scale(0.9);
  background-color: yellow;
  color: white;
  border-color: black;
}
